/* General styles for all menus */

.cbp-spmenu {
	position: absolute;
	border-style:solid;
	border-size:0,1em;
	padding:10px;
	border-color:rgb(200,200,200);
	background: white;
}

.cbp-spmenu h3 {
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	display:inline;
}

.cbp-spmenu-close {
	cursor:pointer;
}

/*
.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}*/

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	/*width: 240px;
	/*height: 100%;*/
	z-index: 1000;
}

/*
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}*/

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	margin-top:20px;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

/* Ajout Jean : style du bouton */
.cbp-spmenu-button{
	width:60px;
	height:60px;
	z-index:1000;
	position:absolute;
	display:hidden;
	cursor:pointer;
}

/* Collapsible items */
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.hidden{
	display:none;
}

/* OTHERS : AUTOCOMPLETE*/
.ui-front {
	z-index: 1000;
}

.longtext, .trendyJob-list{
	max-height:250px;
}

#nodeMenu{
	overflow:auto;
}