<link rel="stylesheet" type="text/css" href="css/menu.css">
<script type="text/javascript" src="scripts/canvg.js"></script> 
<script type="text/javascript" src="scripts/menu.js"></script>
<script src="scripts/libs/FileSaver.min.js"></script>
<script src="scripts/libs/Blob.js"></script>

	<style>
			.link {
			  /*stroke: #ccc;*/
			}

			.node {
			  cursor: move;
			  
			 /* stroke: #000;
			  stroke-width: 1.5px;*/
			}

			.node text {
			  pointer-events: none;
			  font: 10px sans-serif;
			  stroke-width: 0px;
			}
		</style>

   	<div class="graphContainer cbp-spmenu-push">
    		<img class="cbp-spmenu-button" id="left-button1" src="images/parameters.png" alt="parameters"/>
    		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="left-menu1">
    			<h3> Paramétres </h3>

    			<div class="panel-group" id="accordion">
	    			<div class="panel panel-default" id="panel1">
						<button class="btn btn-default btn-sm" type="button" id="svgDownload">
							Télécharger
						</button>
				        <div class="panel-heading">
				             <h4 class="panel-title">
				        <a data-toggle="collapse" data-target="#collapseOne" 
				           href="" class="collapsed">
				          Filtres
				        </a>
				      </h4>

				        </div>
				        <div id="collapseOne" class="panel-collapse collapse">
				            <div class="panel-body"></div>
				        </div>
				    </div>
					<div class="panel panel-default" id="panel2">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseTwo"
								   href="" class="collapsed">
									Paramétres
								</a>
							</h4>

						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body"></div>
						</div>
					</div>
					<div class="top-buffer">
						<button class="btn-default" id="save"> Sauver l'image </button>
					</div>
				</div>
			</nav>

    		<nav class="cbp-spmenu" id="nodeMenu" style="display:none;">
    			<div class="clearfix">
	    			<h3> Informations </h3>
	    			<span class="pull-right">
	    				<span class="glyphicon glyphicon-remove cbp-spmenu-close" id="closeNode"></span>
	    			</span>
	    		</div>
    			<div class="panel-group" id="accordion3">
	    			<div class="panel panel-default" id="panel3">
				        <div class="panel-heading">
				             <h4 class="panel-title">
				        <a data-toggle="collapse" data-target="#collapseThree"
				           href="" class="collapsed">
				        </a>
				      </h4>

				        </div>
				        <div id="collapseThree" class="panel-collapse collapse">
				            <div class="panel-body"></div>
				        </div>
				    </div>
				</div>
    		</nav>
    	</div>

    	<canvas id="svg-canvas" class ="hidden"></canvas>
		<img id="svg-img" class="hidden"/>
