<script src="scripts/d3.tip.v0.6.3.js"></script>
<style>
			#test {
  overflow:auto;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>

<script type="text/javascript">

	// Premier graph
	var margin = {top: 20, right: 20, bottom: 150, left: 40},
	    width = 960 - margin.left - margin.right,
	    height = 400 - margin.top - margin.bottom;

	var x = d3.scale.ordinal()
	    .rangeRoundBands([0, width], .1);

	var y = d3.scale.linear()
	    .range([height, 0]);

	var xAxis = d3.svg.axis()
	    .scale(x)
	    .orient("bottom");

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left")
	    .ticks(10);

	    

    var tip = d3.tip()
	    .attr('class', 'd3-tip')
	    .offset([-10, 0])
	    .html(function(d) {
	      return "<strong>"+d[Object.keys(d)[0]]+" : </strong> <span style='color:red'>" + d[Object.keys(d)[1]]  + "</span>";
	    })

	var svg1 = d3.select("#GraphiqueContainer1").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	svg1.call(tip);

	var color = d3.scale.linear()
    .domain([0, 20])
    .range(["#99CCFF", "#0000CC"]);
	

	var svg2 = d3.select("#GraphiqueContainer2").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


	function update(url,x,y,svg,paramX, paramY) {

	    d3.xhr(url, function(data) {


	    	data=JSON.parse(data["response"]);

	    	data.sort(function(a,b) {return parseInt(a[paramY])-parseInt(b[paramY]);});

	    	x.domain(data.map(function(d) { return d[paramX] }));
	    	y.domain([0, d3.max(data, function(d) { return parseInt(d[paramY]); })]);

	    	document.getElementById("CompanyNameMax").innerHTML = "L'entreprise <strong>"+ data[data.length-1].company +"</strong> est l'entreprise proposant le plus d'offres avec <strong>"+ data[data.length-1].nbAdverts +"</strong> annonces actuellement";

	    	svg.selectAll(".bar").remove();
			svg.selectAll(".axis").remove();

	    	svg.append("g")
		    	.attr("class", "x axis")
		    	.attr("transform", "translate(0," + height + ")")
		    	.call(xAxis)
		    	.selectAll("text")  
		    	.style("text-anchor", "end")
		    	.attr("dx", "-.8em")
		    	.attr("dy", ".15em")
		    	.attr("transform", function(d) {
		    		return "rotate(-65)" 
		    	});

	    	svg.append("g")
		    	.attr("class", "y axis")
		    	.call(yAxis)
		    	.append("text")
		    	.attr("transform", "rotate(-90)")
		    	.attr("y", 6)
		    	.attr("dy", ".71em")
		    	.style("text-anchor", "end")
		    	.text(paramY);

	    	svg.selectAll(".bar")
	    	.data(data)
	    	.enter().append("rect")
	    	.attr("class", "bar")
	    	.attr("fill", function(d) { return color(d[paramY])})
	    	.attr("x", function(d) { return x(d[paramX]); })
	    	.attr("width", x.rangeBand())
	    	.attr("y", function(d) { return y(d[paramY]); })
	    	.attr("height", function(d) { return height - y(d[paramY]); })
	    	.on('mouseover', tip.show)
      		.on('mouseout', tip.hide)
	    	.on("click", function(d){
	    		if(d.company != undefined){
	    			update("http://trendyjobs.fr/backend/getNbAdvertsCompanyByTechnos/"+d.company+"/10",x,y,svg2,"name","nbAdverts");
	    			document.getElementById("CompanyName").innerHTML = "Entreprise : "+ d.company;
	    			document.getElementById("NbTotal").innerHTML = "Nombre d'annonces total : "+ d.nbAdverts;

	    		}

	    	});


	    	/*var select = document.getElementsByClassName("selectpicker")[0]; 
	    	console.log(data);
	    	for (var i=0; i<data.length; i++)
	    	{
	    		var opt = data[i][paramX];
	    		var el = document.createElement("option");
	    		el.textContent = opt;
	    		el.value = opt;
	    		select.appendChild(el);
	    	}*/

	    });
	}	

	update("http://trendyjobs.fr/backend/getNbAdvertsByCompany/200",x,y,svg1,"company", "nbAdverts")


	// Si étude d'une entreprise en particulier ? Select ou click sur bar chat ?
	/*$('.selectpicker').on('change', function(){
	var selected = $(this).find("option:selected").val();
	console.log(selected);
	update("http://trendyjobs.fr/backend/getNbAdvertsCompanyByTechnos/"+selected+"/10",x,y,svg2,"name","nbAdverts");

	});*/



</script>

<div id="AllStatsContainer" class="container"> 
	<h1> Toutes les entreprises </h1>

	<div class="row">
		<div id="test" class="col-md-8">
  			<div id="GraphiqueContainer1"> </div>
		</div>
		<div class="col-md-4">
			<h2> Quelques chiffres </h2>
			<h3 id="CompanyNameMax"> </h3>
		</div>
	</div>
<h1> Etude d'une entreprise en particulier </h1>
	<div class="row">
	    <!-- Select ou clique sur Barchart ou les deux ?
	    <select class="selectpicker"></select>-->
		<div id="test" class="col-md-8">
			<div id="GraphiqueContainer2"> </div>
		</div>
		<div class="col-md-4">
			<h2> Quelques chiffres </h2>
			<h3 id="CompanyName"> </h3>
			<h3 id="NbTotal">  </h3>
		</div>
	</div>
</div>
	