<div>
	<h1> Graphiques </h1>
	<h2> Entreprise précise </h2>
	<p> Histogramme/PieChart avec choix entreprise -> donne le nombre d'annonces par technos </p>
	<p> Histogramme/Piehcart avec répartition des salaires par fouchette + indéfinis </p>

	<h2> Toutes les entreprises </h2>
	<p> Big Histogramme avec entreprises classées par nombre d'annonces  </p>
	<p> Big Histogramme avec avec entreprises classées par salaire moyen </p>

	<h1> Stats </h1>
	<p> Technos la plus utilisée </p>
	<p> Salaire moyen parmis les valeurs connues </p>
</div>